@import "default.css";

ul.dropdown a,ul.dropdown span { display: block; padding: 5px 30px;}
ul.dropdown li { padding: 0;}
ul.dropdown ul a,ul.dropdown ul span { /* POI, proposal: override abstract a, span */ padding: 8px;}
ul.dropdown *.dir { /* POI */ padding: 5px 30px;}
ul.dropdown ul *.dir { padding: 8px 30px 8px 8px;}
ul.dropdown ul a { width: 133px;}
ul.dropdown ul a.dir { width: 111px;}

ul.dropdown *.open { background-color: #3d3d3d;}
ul.dropdown ul *.open { background-color: #4c4c4c;color: #fff;}
ul.dropdown ul ul *.open { background-color: #595959;  color: #fff;}
/* Override UPPER TWO definitions */
ul.dropdown a.open:hover { background-color: #3d3d3d; color: #fff;}
ul.dropdown ul a.open:hover {color: #fff;}
/* Clone in CSS 2 */
ul.dropdown li:hover > *.dir { background-color: #3d3d3d;}
ul.dropdown ul li:hover > *.dir { background-color: #3d3d3d;}
ul.dropdown ul ul li:hover > *.dir { background-color: #3d3d3d;  color: #fff;}
/* Override UPPER TWO definitions */
ul.dropdown li:hover > a.dir:hover { background-color: #3d3d3d; color: #fff;}
ul.dropdown ul li:hover > a.dir:hover {color: #fff;}