<ul id="nav" class="dropdown dropdown-horizontal">
	<volist name="menu" id="v">
 		<if condition="$v.parent1 neq ''">
	   		<li id="n-home"><a href="__ROOT__/index.php/Home/{{$v.page_url}}?id={{$v.id}}" class="dir">{{$v.nav_title}}</a>
		        <ul>
			    	<volist name="menu" id="v2">
				    	<if condition="$v.parent1 eq $v2.parent2 "> 
					        <li class="first"><a href="__ROOT__/index.php/Home/{{$v.page_url}}?id={{$v2.id}}" class="dir">{{$v2.nav_title}}{{$v2.c_title}}</a>
						        <ul style=" width:160px;">
							      <volist name="menu" id="v3">
							      	<if condition="$v3.child eq $v2.child && $v3.childY eq 'y' "> 
							          <li class="first"><a href="__ROOT__/index.php/Home/{{$v.page_url}}?id={{$v3.id}}">{{$v3.c_title}}</a></li>
							         </if>
						          </volist>                       
						      </ul>
						  </li> 
					  </if> 
				  </volist>	                            
		        </ul>
	    	</li>   		
   		</if>
   	</volist>
</ul>