<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>简朵服饰</title>
<script src="__PUBLIC__/js/jquery-1.9.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css"/>
<link rel="stylesheet" href="__PLUG-IN__/themes/default/default.css" type="text/css" media="screen" />
<link rel="stylesheet" href="__PLUG-IN__/nivo_slider/nivo-slider.css" type="text/css" media="screen" />
<script type="text/javascript" src="__PLUG-IN__/nivo_slider/jquery.nivo.slider.js"></script>

<link href="__PUBLIC__/css/dropdown.css" media="screen" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/default.ultimate.css" media="screen" rel="stylesheet" type="text/css" />
<!--[if lt IE 7]>
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.dropdown.js"></script>
<![endif]-->
<script src="__PLUG-IN__/lightbox/js/lightbox.js"></script>
<link href="__PLUG-IN__/lightbox/css/lightbox.css" rel="stylesheet" />
<script type="text/javascript">
	$(window).load(function() {
	    $('#slider').nivoSlider();
	});
</script>
</head>

<body>
<div class="page-content">
	<div class="header">
    	<div class="logo"><a href=""><img src="__PUBLIC__/images/logo.png" /></a></div>
        <div class="nav">
        	<include file="Public:menu" />        	
        </div>
        <div class="banner">
        	<include file="Public:banner" />
        </div>
    </div>
    
    <div class="content">
    	<div class="con1">
        	<div class="con1-mod">
            	<div class="mod-title"><a href=""><img src="__PUBLIC__/images/chuangyisheji.png"/></a></div>
                <div class="mod-hot">
                	<volist name="dlist" id="v" empty="暂时没有数据" >
                	<if condition="($v.hotoffers eq 1)">
                	<a href="design?id={{$v.id}}"><img src="{{$v.big_img}}"/></a>
                    <p><a href="design?id={{$v.id}}">{{$v.design_title}}</a></p>
                    </if>
                    </volist>
                </div>
                <div class="mod-list">
                	<hr/>
                    <ul>
                    	<volist name="dlist" id="v" empty="暂时没有数据" >
                    	<if condition="($v.hotoffers eq 2 and $i elt 8)">
                    	<li><a href="design?id={{$v.id}}">{{$v.design_title}}</a></li>
                    	</if>
                    	</volist>
                       
                    </ul>
                    <p><a href="design"><img src="__PUBLIC__/images/more.png" /></a></p>
                </div>
            </div>
            <div class="con1-mod">
            	<div class="mod-title"><a href=""><img src="__PUBLIC__/images/pinpaizixun.png"/></a></div>
                <div class="mod-hot">
                	<volist name="blist" id="v" empty="暂时没有数据" >
                	<if condition="($v.hotoffers eq 1 )">
                	<a href="brand?id={{$v.id}}"><img src="{{$v.big_img}}"/></a>
                    <p><a href="brand?id={{$v.id}}">{{$v.brand_name}}</a></p>
                    </if>
                    </volist>
                </div>
                <div class="mod-list">
                	<hr/>
                    <ul>
                    	<volist name="blist" id="v" empty="暂时没有数据" >
                    	<if condition="($v.hotoffers eq 2 and $i elt 8)">
                    	<li><a href="brand?id={{$v.id}}">{{$v.brand_name}}</a></li>
                    	</if>
                    	</volist>
                    </ul>
                    <p><a href="brand"><img src="__PUBLIC__/images/more.png" /></a></p>
                </div>
            </div>
            <div class="con1-mod">
            	<div class="mod-title"><a href=""><img src="__PUBLIC__/images/jiaoyufenxiang.png"/></a></div>
                <div class="mod-hot">

                	<volist name="nlist" id="v" empty="暂时没有数据" >
                    <if condition="($v.hotoffers eq 1 )">
                    <a href="news?id={{$v.id}}"><img src="{{$v.big_img}}"/></a>
                    <p><a href="news?id={{$v.id}}">{{$v.news_title}}</a></p>
                    </if>
                    </volist>

                </div>
                <div class="mod-list">
                	<hr/>
                    <ul>
                    	<volist name="nlist" id="v" empty="暂时没有数据" >
                        <if condition="($v.hotoffers eq 2 and $i elt 8)">
                        <li><a href="news?id={{$v.id}}">{{$v.news_title}}</a></li>
                        </if>
                        </volist>
                    </ul>
                    <p><a href=""><img src="__PUBLIC__/images/more.png" /></a></p>
                </div>
            </div>
        </div>
        
        <div class="con2">
        	<div class="con2-head">
            	<div class="con2-title">J.D.Chaude 暖暖热卖单品 Sells a single product</div>
                <div class="con2-img"><img src="__PUBLIC__/images/05.jpg" /></div>
            </div>
            <div class="con2-product-list">
            	<ul>
                        <volist name="plist" id="v" empty="暂时没有数据"  offset="0" length="5"  >
                        <if condition="($v.hotoffers eq 1 and $i elt 5)">
                        <li><a href=""><img src="{{$v.big_img}}" /></a></li>
                        </if>
                        </volist>
                </ul>
            </div>
        </div>
    </div> 
    <div class="bottom">
    	<include file="Public:bottom" />
    </div>  
</div>
</body>
</html>
