<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLICA__/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLICA__/css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLICA__/css/style.css" />
    <script type="text/javascript" src="__PUBLICA__/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLICA__/js/jquery.sorted.js"></script>
    <script type="text/javascript" src="__PUBLICA__/js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLICA__/js/ckform.js"></script>
    <script type="text/javascript" src="__PUBLICA__/js/common.js"></script>

    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }
        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    </style>
</head>
<body>
<form class="form-inline definewidth m20" action="index" method="get">  
    新闻标题：
    <input type="text" name="news_title" id="news_title"class="abc input-default" placeholder="" value="">&nbsp;&nbsp;  
   类型：
    <select name="parentid">
    		<option value="0">--请选择--</option>
    	<volist name="cl" id="v">
    		<option value='{{$v['id']}}' <if condition="$parentid eq $v['id']"> selected </if> />&nbsp; <if condition="($v['childY'] eq $v['pid']) and ($v['pid'] neq 0) "> &nbsp;&nbsp;&nbsp;&lfloor;&nbsp;</if> {{$v['c_title']}}</option>
        </volist>            	            
    </select>
    <button type="submit" class="btn btn-primary">查询</button>&nbsp;&nbsp; <button type="button" class="btn btn-success" id="addnew">新增设计</button>
</form>
<table class="table table-bordered table-hover definewidth m10" >
    <thead>
    <tr>
    	<th>序号</th>
        <th>设计标题</th>
        <th>所在分类</th>
        <th>设计图标</th>
        <th>发布时间</th>        
        <th>管理操作</th>
    </tr>
    </thead>	 
    <volist name="list" id="v">    
	       <tr>
	           <td>{{$v.id}}</td>
	           <td>{{$v.news_title}}</td>
	           <td>{{$v.b_title}} <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{$v.c_title}}</p></td>
	           <td><img src="{{$v.small_img}}" style="height:42px;" /></td>
	           <td>{{$v.release_time|date='Y-m-d H:i:s',###}}</td>
	           <td>
	                 <a href="edit?id={{$v.id}}">编辑</a>    
	                 <a href="delete?id={{$v.id}}">删除</a>              
	           </td>
	       </tr>
     </volist>
</table>
<div class="inline pull-right page">
	{{$page_show}}        
</div>
</body>
</html>
<script>
    $(function () {        
		$('#addnew').click(function(){
				window.location.href="add";
		 });
    });

	function del(id)
	{		
		if(confirm("确定要删除吗？"))
		{		
			var url = "index";			
			window.location.href=url;		
		}	
	}
</script>