<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLICA__/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLICA__/css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLICA__/css/style.css" />
    <script type="text/javascript" src="__PUBLICA__/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLICA__/js/jquery.sorted.js"></script>
    <script type="text/javascript" src="__PUBLICA__/js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLICA__/js/ckform.js"></script>
    <script type="text/javascript" src="__PUBLICA__/js/common.js"></script> 
    <script src="__PLUG-IN__/lightbox/js/jquery-1.11.0.min.js"></script>
	<script src="__PLUG-IN__/lightbox/js/lightbox.min.js"></script>
	<link href="__PLUG-IN__/lightbox/css/lightbox.css" rel="stylesheet" />
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    </style>
<script type="text/javascript">
    function check(){
     var big_img=document.form1.big_img.value;
     if(big_img==''){
       $("#big_img").attr("name","");
      }
    }
</script>
</head>
<body>
<form action="addImg" method="post" class="definewidth m20" name="form1" id="form1" enctype="multipart/form-data">
<input type="hidden" value="{{$id}}" name="id" id="id"/>
<table class="table table-bordered table-hover m10">
    <tr>
        <td class="tableleft" colspan="2"><h3>{{$title}}的产品图片列表</h3></td>        
    </tr>
    <tr>
    	<td  width="10%" class="tableleft">请选择图片</td>
        <td>
            <input type="file" name="big_img" id="big_img"/>
        </td>
    </tr>
    <tr>
        <td class="tableleft"></td>
        <td>
            <button type="submit" class="btn btn-primary" onclick="return check();" >保存</button> &nbsp;&nbsp;<button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
        </td>
    </tr>
    <tr>
        <td colspan="2">
        	<div class="image-row">
				<div class="image-set">
					<ul>
						<volist name="list" id="v"> 
						<li>
							<a class="example-image-link" href="{{$v['big_img']}}" data-lightbox="example-set" data-title="">
								<img class="example-image" src="{{$v['small_img']}}" alt=""/>
							</a>
							<a href="deleteImg?id={{$v['id']}}&productId={{$v['product_id']}}" class="imgdel">删除</a>
						</li>
						</volist>
						<!-- <li>
							<a class="example-image-link" href="__PLUG-IN__/lightbox/img/demopage/image-3.jpg" data-lightbox="example-set" data-title="">
								<img class="example-image" src="__PLUG-IN__/lightbox/img/demopage/thumb-3.jpg" alt=""/>
							</a>
							<a href="deleteImg?id={{$id}}" class="imgdel">删除</a>
						</li>
						<li>
							<a class="example-image-link" href="__PLUG-IN__/lightbox/img/demopage/image-4.jpg" data-lightbox="example-set" data-title="">
								<img class="example-image" src="__PLUG-IN__/lightbox/img/demopage/thumb-4.jpg" alt="" />
							</a>
							<a href="" class="imgdel">删除</a>
						</li>
						<li>
							<a class="example-image-link" href="__PLUG-IN__/lightbox/img/demopage/image-5.jpg" data-lightbox="example-set" data-title="">
								<img class="example-image" src="__PLUG-IN__/lightbox/img/demopage/thumb-5.jpg" alt="" />
							</a>
							<a href="" class="imgdel">删除</a>
						</li>
						<li>
							<a class="example-image-link" href="__PLUG-IN__/lightbox/img/demopage/image-6.jpg" data-lightbox="example-set" data-title="">
								<img class="example-image" src="__PLUG-IN__/lightbox/img/demopage/thumb-6.jpg" alt="" />
							</a>
							<a href="" class="imgdel">删除</a>
						</li> -->
					</ul>
				</div>
			</div>
        	
        </td>
    </tr>   
</table>
</form>
</body>
</html>
<script>
    $(function () {       
		$('#backid').click(function(){
				window.location.href="index";
		 });

    });
</script>