<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{$ls.meta_title}}</title>
<meta name="description" content="{{$ls.meta_description}}" />
<meta name="keywords" content="{{$ls.meta_keywords}}" />
<script src="__PUBLIC__/js/jquery-1.9.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css"/>
<link rel="stylesheet" href="__PLUG-IN__/themes/default/default.css" type="text/css" media="screen" />
<link rel="stylesheet" href="__PLUG-IN__/nivo_slider/nivo-slider.css" type="text/css" media="screen" />
<script type="text/javascript" src="__PLUG-IN__/nivo_slider/jquery.nivo.slider.js"></script>

<link href="__PUBLIC__/css/dropdown.css" media="screen" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/default.ultimate.css" media="screen" rel="stylesheet" type="text/css" />
<!--[if lt IE 7]>
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.dropdown.js"></script>
<![endif]-->
<script src="__PLUG-IN__/lightbox/js/lightbox.js"></script>
<link href="__PLUG-IN__/lightbox/css/lightbox.css" rel="stylesheet" />
<script type="text/javascript">
	$(window).load(function() {
	    $('#slider').nivoSlider();
	});
</script>
</head>

<body>
<div class="page-content">
	<div class="header">
    	<div class="logo"><a href=""><img src="__PUBLIC__/images/logo.png" /></a></div>
        <div class="nav">
        	<include file="Public:menu" />        	
        </div>
        <div class="banner">
        	<include file="Public:banner" />
        </div>
    </div>
    
    <div class="content">
    	<div class="con2">
        	<h1>{{$ls.nav_title}}</h1>
            <div>
            	{{$content}}
            </div>
            	
        </div>
    </div> 
    <div class="bottom">
    	<include file="Public:bottom" />
    </div>  
</div>
</body>
</html>
